* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://www.10wallpaper.com/wallpaper/1366x768/1308/mountains_stones_wood-landscape_HD_wallpaper_1366x768.jpg");
    background-repeat: no-repeat;
    user-select: none;
    background-size: cover;
    background-attachment: fixed;
}

.cabeca {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    font-style: italic;
}

.cabeca h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 25px;
    position: relative;
}

.cabeca h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    display: block;
    margin: 0 auto;
    background-color: aliceblue;
}

.botao-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.botao {
    padding: 8px 15px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 30px;
    background-color: black;
    font-weight: bold;
    margin-top: 60px;
}

.botao:hover {
    background: cyan;
    color: #fff;
    transform: scale(1.2);
    transition: 0.5s;
}

.botao a {
    text-decoration: none;
    padding: 8px;
    color: black;
}

/* Modal */

.titulo-modal {
    position: relative;
    color: #21203f;
    top: -35px;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 2px;
}

.modal-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.mostrar {
    display: flex;
}

.modal {
    background: white;
    width: 60%;
    min-width: 300px;
    padding: 40px;
    color: #483d8b;
    border: 10px solid #988b7a;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar {
    display: block;
}

.mostrar .modal {
    animation: modal 0.3s;
}

.fechar {
    position: absolute;
    font-size: 1.2em;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    background: #988b7a;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

.botao-confirmar {
    position: absolute;
    font-size: 10px;
    width: 60px;
    right: 87%;
    top: 135px;
    height: 30px;
    border-radius: 5%;
    border: 4px solid white;
    background: #988b7a;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.2);
}

.botao-confirmar:hover {
    transform: scale(1.2);
}

/* Modal Fim */
